aside, main{
    padding: 10px;
}

ul{
    li{
        list-style-type: none;
        a{
            color: #fff;
        }
    }
}

.modal-dialog{
    height:600px !important;
    .modal-content{
        .modal-body{
            padding:60px 0px 0px 0px !important;

        }
    }
}

.option-1{
    width:100%;
    height:100%;
    .cs-header{
        height:75px;
        background-color: #f8f9fa;
        .cs-header-text{
            color:#000;
            font-size: 28px;
            padding: 26px 0px 0px 88px;
        }
    }

    .col-wrap{
        width: 100%;
        height: 100%;
        padding: 0px 30px;
    }

    .cs-sub-heading{
        font-size:24px !important;
    }

    .cs-bar {
        width:70%;
        height: 463px;
        background-color: #f8f9fa;
    }

    .lines {
        border-left: 5px solid;
        border-top: 5px solid;
        border-color: #000000;
        float: left;
        height: 129px;
        width: 107px;
        position: absolute;
        top: -25px !important;
        left: 50px;
        }
    

    .action-button{
        background-color:#25408f;
        color: #fff;
        padding: 10px 28px;
        font-size: 16px;
        border-radius: 7px;
        margin-top: 20px;
        margin-left:15px;
        display: inline-block;
    }
}


.option-3{
    width:100%;
    height:100%;
    .cs-header{
        height:75px;
        background-color: #f8f9fa;
        .cs-header-text{
            color:#000;
            font-size: 28px;
            padding: 26px 0px 0px 88px;
        }
    }

    .col-wrap{
        width: 100%;
        height: 100%;
        padding: 0px 30px;
    }

    .cs-sub-heading{
        font-size:24px !important;
    }


    .lines {
        border-left: 5px solid;
        border-top: 5px solid;
        border-color: #000000;
        float: left;
        height: 129px;
        width: 107px;
        position: absolute;
        top: -25px !important;
        left: 50px;
        }
    
    .col-98{
        width: 98%; 
        float: right;
        padding: 40px 40px;
    }

    .action-button{
        background-color:#25408f;
        color: #fff;
        padding: 10px 28px;
        font-size: 16px;
        border-radius: 7px;
        margin-top: 20px;
        margin-left:15px;
        display: inline-block;
    }
}


.code-box{
    margin: 20px 0px 40px 0px;
    padding-left:35px;
}

pre{
    white-space: normal;
}

form{
    margin:20px 0px 20px 0px;
}

label{
    font-size:14px
}