aside, main {
  padding: 10px; }

ul li {
  list-style-type: none; }
  ul li a {
    color: #fff; }

body {
  background-color: #A3A3A3; }

.option-1, .option-2, .option-3, .option-4, .option-5, .option-6, .option-7, .option-8 {
  max-width: 1024px;
  background: #ffffff;
  box-shadow: 3px 3px 9px 0px #737373; }

.aside-options-list {
  background-color: #f3f3f3;
  padding: 0px;
  margin-bottom: 40px; }

.option-image {
  height: 100px; }

.fa-chevron-down {
  position: absolute;
  color: #bfbfbf;
  right: 18px;
  top: 18px;
  font-size: 16px; }

.card {
  border: none;
  border-radius: 0px; }

.card-header {
  padding: 0px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07); }

.card-body .fa-question-circle {
  position: relative;
  right: 58px;
  top: 4px; }

.collapse {
  display: none;
  background: #f3f3f3;
  color: #5a5a5a; }

.collapsing {
  background: #f3f3f3;
  color: #5a5a5a; }

.btn-link {
  line-height: 50px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  padding: 0px 0px 0px 15px;
  color: #4D4D4D;
  text-align: left;
  width: 100%;
  border: none; }

.btn-link:hover {
  text-decoration: none;
  color: #4D4D4D; }

.btn-link:focus {
  text-decoration: none;
  background-color: #ffffff;
  color: #4D4D4D; }

.btn-primary {
  background-color: #EE4620;
  border-color: #EE4620; }

h3 {
  margin: 0px; }

.form-control {
  color: #949494; }

.modal-dialog {
  height: 600px !important; }
  .modal-dialog .modal-content .modal-body {
    padding: 60px 0px 0px 0px !important; }

.lines {
  top: -25px !important; }

.option-6 {
  width: 100%;
  height: 100%; }
  .option-6 .cs-header .cs-header-text {
    color: #000;
    font-size: 28px;
    padding: 125px 0px 0px 88px; }
  .option-6 .main-message {
    margin-top: 30px; }
  .option-6 .col-wrap {
    width: 100%;
    height: 100%;
    padding: 0px 0px; }
  .option-6 .col-50 {
    width: 50%;
    float: left;
    height: 500px;
    padding: 0px 40px; }
  .option-6 .action-button {
    background-color: #25408f;
    color: #fff;
    padding: 10px 28px;
    font-size: 16px;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 15px;
    position: absolute;
    bottom: 30px;
    right: 50px;
    display: inline-block; }

.option-7 {
  width: 100%;
  height: 100%; }
  .option-7 .cs-header .cs-header-text {
    color: #000;
    font-size: 28px;
    padding: 125px 0px 0px 88px; }
  .option-7 .main-message {
    margin-top: 30px; }
  .option-7 .col-wrap {
    width: 100%;
    height: 100%;
    padding: 0px 0px; }
  .option-7 .col-50 {
    width: 50%;
    float: left;
    height: 500px;
    padding: 0px 40px; }
  .option-7 .action-button {
    background-color: #25408f;
    color: #fff;
    padding: 10px 28px;
    font-size: 16px;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 15px;
    display: inline-block; }

.screen-dropdown {
  width: 25.55%;
  height: 50px;
  margin-left: -15px;
  margin-top: -15px;
  margin-bottom: -17px;
  border-radius: 0px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff !important;
  color: #4D4D4D;
  font-weight: 600; }

.screen-dropdown {
  line-height: 40px;
  width: 25.65% !important; }

.dropdown-menu {
  padding: .5rem .8rem;
  margin: .125rem 0 0;
  background-color: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  box-shadow: 11px 11px 28px -6px #8a8a8a;
  left: -5px !important;
  top: -5px !important; }

.dropdown-item {
  width: 183px;
  padding: 0px;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  margin: 5px 0px;
  box-shadow: 1px 1px 5px 0px #b1b1b1; }

.option-image {
  width: 100%;
  height: 110px;
  transition: all; }

.option-image:hover {
  opacity: .7; }

.dropdown-toggle::after {
  margin-left: 65%;
  vertical-align: 0.155em; }

.col-md-9 {
  height: 538px !important; }

.code-box {
  margin: 20px 0px 40px 0px;
  padding-left: 35px; }

pre {
  white-space: normal; }

form {
  margin: 20px 0px 20px 0px; }

label {
  font-size: 14px; }

/*# sourceMappingURL=App.css.map */
