aside, main{
    padding: 10px;
}

ul{
    li{
        list-style-type: none;
        a{
            color: #fff;
        }
    }
}

.modal-dialog{
    height:600px !important;
    .modal-content{
        .modal-body{
            padding:0px !important;

        }
    }
}

.code-box{
    margin: 20px 0px 40px 0px;
    padding-left:35px;
}

pre{
    white-space: normal;
}

form{
    margin:20px 0px 20px 0px;
}

label{
    font-size:14px
}